<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>674033684516-4da4dd49vv47ej6s3368h7j8pejjast5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.674033684516-4da4dd49vv47ej6s3368h7j8pejjast5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>674033684516-38e7oh197ju5a9dp0i3ppbpjp4guok4m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDfghqznnc4oCbr3NhHrGoxWoANbB693aE</string>
	<key>GCM_SENDER_ID</key>
	<string>674033684516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tv.celuv.asp.ios</string>
	<key>PROJECT_ID</key>
	<string>popkontv-cab29</string>
	<key>STORAGE_BUCKET</key>
	<string>popkontv-cab29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:674033684516:ios:97111fec09643f5e</string>
	<key>DATABASE_URL</key>
	<string>https://popkontv-cab29.firebaseio.com</string>
</dict>
</plist>